@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header id="headerwrap" class="fullheight">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in wow bounceInDown" data-wow-delay="0.5s">We clean <span class="wodry">Wood|Cement|Plastic|Anything!</span></div>
            <div class="intro-heading wow bounceInUp" data-wow-delay="1s">Vicks Vase <span class="thin">Cleaners</span></div>
            <a href="#about-us" class="page-scroll btn btn-xl btn-negative  wow bounceInDown" data-wow-delay="2s">Tell Me More <i class="fa fa-angle-down fa-2x"></i></a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about-us">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInDown">
                    <h2 class="section-heading"><strong>About</strong> Us</h2>
                    <h3 class="section-subheading text-muted">Vase cleaning? Why would I need that?</h3>
                </div>
            </div>
            <div class="row gap">
                <div class="col-md-4 wow fadeInLeft">
                    <img src="~/Content/assets/img/Vasesketch.jpg" class="img-responsive" />
                </div>
                <div class="col-md-8 wow fadeInRight">
                    <br />
                    <br />
                    <p>So you're sitting there asking yourself, "Why would I need somebody to clean my vase? Can't I just do it myself?". Well let us tell you. You're flat out wrong! Here at Vicks Vase Cleaners we offer deep vase cleaning for all our customers. You can't find a better vase cleanery than us!</p>
                    <p>
                        People ask us all the time, why make a service that seems pointless as people can probably do this simple task themseleves. We tell them, great question.
                        <br />
                        <br />
                        So come on down and let us clean your vase! Packages start at at $120 plus tax.
                        We do not clean bowls, please stop asking.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="divider-wrapper opaqued" data-parallax="scroll" data-image-src="/Content/assets/img/bg/bg2.jpg" data-speed="0.7">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInDown">
                    <h2 class="section-heading"><strong>Amazing</strong> Team</h2>
                    <h3 class="section-subheading text-muted">We searched high and low for these amazing Vase Cleaners</h3>
                </div>
            </div>
            <div class="row wow fadeInUp">
                <div class="col-md-3">
                    <div class="team-member">
                        <div class="team-card">
                            <img src="~/Content/assets/img/team/team1.jpg" class="img-responsive" alt="">

                        </div>
                        <h4>Kirk Johnson</h4>
                        <p class="text-muted">Vase Polisher</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <div class="team-card">
                            <img src="~/Content/assets/img/team/team2.jpg" class="img-responsive" alt="">

                        </div>
                        <h4>Craig Roberts</h4>
                        <p class="text-muted">Vase Photographer/Mixologist</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <div class="team-card">
                            <img src="~/Content/assets/img/team/team3.jpg" class="img-responsive" alt="">

                        </div>
                        <h4>Greg Jones</h4>
                        <p class="text-muted">Regional Manager</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <div class="team-card">
                            <img src="~/Content/assets/img/team/team4.jpg" class="img-responsive" alt="">
    
                        </div>
                        <h4>David Spencer</h4>
                        <p class="text-muted">Assistant to the Regional Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="services">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInDown">
                    <h2 class="section-heading"><strong>Our</strong> Services</h2>
                    <h3 class="section-subheading text-muted">Here we offer three amazing packages</h3>
                </div>
            </div>
            <div class="row wow fadeInUp">
                <div class="col-md-4 service-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 service-icon">
                            <i class="pe-7s-video fa-4x"></i>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
                            <h4 class="service-heading">Basic Cleaning: $120 + Tax</h4>
                            <p class="text-muted">Our Mixologist will create a special, custom blend of soaps and fragrences made just for your vase. They look at the structure and material to best design a custom cleaner for your vase and your vase alone. We then have our lead Clean Designer map a cleaning path for you vase using only the most advanced cleaning techniques</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 service-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 service-icon">
                            <i class="pe-7s-phone fa-4x"></i>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
                            <h4 class="service-heading">Advanced Package: $250 + Tax</h4>
                            <p class="text-muted">Our advanced package includes everything from our basic package, but includes a vase profile for your vase made by our in-house Vase Photographer. The profile will include a detailed list of atomic make up of your vase to help you will future care. The profile will be leather-bound, a booking for the advanced package will allow you to make a reservation* for one of our location, even if they are filled for the day!
                            <br />
                            <br />
                            *this is subject to cancelation if we feel like it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 service-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 service-icon">
                            <i class="pe-7s-tools fa-4x"></i>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
                            <h4 class="service-heading">Le Meilleure: $500 + Tax</h4>
                            <p class="text-muted">Details of this package are only told in person, however this does include all things detailed in the previous packages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

